{% extends "base.html" %}
{% block title %} post {% endblock title %}
{% block body %}
<div class="container my-3">
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title">
            <label for="name" class="form-label">Title Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="content" name="content">
            <label for="floatingInput">Content</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}