{% extends "index.html" %}
{% block title %}Product{% endblock title %}

{% block body %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Adding Product</h5>
        <form class="container">
            <div class="my-2">
                <label for="AddingProduct" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product" aria-describedby="product-help">
            </div>
            <div class="my-2">
                <label for="AddingProduct" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product" aria-describedby="product-help">
            </div>
            <div class="my-2">
                <label for="AddingProduct" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product" aria-describedby="product-help">
            </div>
            <div class="my-2">
                <label for="AddingProduct" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product" aria-describedby="product-help">
            </div>
            <button class="btn btn-primary" type="submit">Adding</button>
        </form>
    </div>
</div>
{% endblock body %}