{% extends "base.html" %}
{% block title %}Signup{% endblock title %}
{% block content %}
<form method="POST" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend"
                required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-6">
        <label for="epassword" class="form-label">Again Password</label>
        <input type="text" class="form-control" id="epassword" name="epassword" required>
        <div class="valid-feedback">
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
</form>
{% endblock content %}